body {
  background: #121212;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #181818;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

img {
  width: 200px;
  border-radius: 10px;
}