# Node modules
node_modules/

# Environment variables
.env
backend/.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build / cache
dist/
build/
.cache/

# Render / temp
tmp/

# IDE files
.vscode/
.idea/